
<div><h1>
  <ul class="d-flex p-0 m-0">
      <a class="nav-link d-flex p-0" routerLink="users" routerLinkActive="active">
        <button class="btn btn-outline-primary">users </button>
      </a>
  </ul>
  
</h1></div>
<div><h1>
  <ul class="d-flex p-0 m-0">
      <a class="nav-link d-flex p-0" routerLink="data" routerLinkActive="active">
        <button class="btn btn-outline-primary">customer </button>
      </a>
  </ul>
</h1></div>
<div><h1>
  <ul class="d-flex p-0 m-0">
      <a class="nav-link d-flex p-0" routerLink="formdev" routerLinkActive="active">
        <button class="btn btn-outline-primary">formdev </button>
      </a>
  </ul>
</h1></div>
<div><h1>
  <ul class="d-flex p-0 m-0">
      <a class="nav-link d-flex p-0" routerLink="gride" routerLinkActive="active">
        <button class="btn btn-outline-primary">gride </button>
      </a>
  </ul>
</h1></div>

<router-outlet></router-outlet>
 
